.container {
    display: grid;
    grid-template-areas:
    'image title close'
    'image deal close';
    border: 1px solid #eee;
    padding: .4em;
    border-radius: 5%;
    margin: 0 .5em;
    font-family: 'Roboto';
}

.image {
    grid-area: image;
}

.title {
    grid-area: title;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}

.deal {
    grid-area: deal;
}

.close {
    grid-area: close;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    padding: .5em;
}

img {
    width:3em;
}